---
layout: landing-page
---		
		<!-- Main -->
			<article id="main">
					
				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									<span class="icon featured fa-heart"></span>
									<header>
										<h3>Designed by the NHS</h3>
									</header>
									<p>HCAs, CSWs, Nurses, Ward Managers, Outreach Responders, Speciality Leads, CPD Trainers, Heads of Patient Safety, Directors of Nursing and the Royal College of Nursing - Your expertise created open-eObs.</strong></p>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<span class="fonticon featured icon-nhs-logo"></span>
									<header>
										<h3>For the NHS</h3>
									</header>
									<p>Health and Care Professionals share knowledge, experience and evidence with each other. Practitions and patients benefit from the sharing of best practice. open-eObs helps NHS Professionals share their expertise with the wider NHS.</p>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<span class="fonticon featured icon-roundal-logo2"></span>
									<header>
										<h3>With Neova Health</h3>
									</header>
									<p>open-eObs is the co-creation of NHS Health and Care Professionals working with the software developers, environment analysts and change facilitators of Neova Health. This open partnership is for public benefit, not private profit.</p>
								</section>
							
							</div>
						</div>
						<footer>
            				<ul class="buttons">
                				<li><a href="#help_you" class="button fit scrolly">Tell Me More</a></li>
                				<li><a href="#video" class="button fit scrolly">Watch The Video</a></li>
            				</ul>
        				</footer>
					</section>
					
				<!-- Three -->
					<section class="wrapper style3 container special" id="help_you">
					
						<header class="major">
							<h2>How could open-eObs <br /><strong>help you ....</strong></h2>
						</header>
						
						<div class="row">
							<div class="6u">
							
								<section>
									<img src="images/nurse_watch.png" alt="" />
									<header>
										<h3>At the bedside?</h3>
									</header>
									<p>Open-eObs aids front-line users to freely organise their workload within the boundaries of the trust policy with clear time and risk indicators. Observations will automatically generate tasks based on hospital policy and are immediately assessable throughout the hospital.</p>
								</section>

							</div>
							<div class="6u">
							
								<section>
									<img src="images/nurse_in_charge_calendar.png" alt="" />
									<header>
										<h3>To manage wards?</h3>
									</header>
									<p>Open-eOobs makes it easy to ensure every patient on your ward has at least one designated nurse and HCA. Avoid over stretching staff with real-time visual feedback of changes to the patient risk profile on your ward.</p>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u">
							
								<section>
									<img src="images/doctors_tablet_review.png" alt="" />
									<header>
										<h3>During Handover?</h3>
									</header>
									<p>Open-eObs makes it easy to access patient observation charts during handover. Simply select a ward and click through all the patient charts to review your patients. You'll have access to up to date observations wherever you are.</p>
								</section>

							</div>
							<div class="6u">
							
								<section>
									<img src="images/senior_manager_flow.png" alt="" />
									<header>
										<h3>During Review?</h3>
									</header>
									<p>Open-eObs provides senior management with a holistic view of the organisation: current ward risk levels, staffing breakdowns and bed occupancy and capacity. Real-time staffing levels and patient risk states enable the optimal and dynamic allocation of staff.</p>
								</section>

							</div>
						</div>

						<footer class="major">
            				<ul class="buttons">
                				<li><a href="#video" class="button fit scrolly">Watch The Video</a></li>
                				<li><a href="#cta" class="button fit scrolly">Try it out</a></li>
            				</ul>
						</footer>

					</section>
					
				<!-- VIDEO -->
					<section id="video" class="wrapper style1 container special">
					
						<header>
							<h2>One Minute Introduction</h2>
						</header>
						
						<footer class="video container">
						{% include youtubePlayer.html id="5nVspivJn-g" %}
						</footer>
				
					</section>

				<!-- CTA -->
					<section id="cta">
					
						<header class="major">
							<h2>Want to test drive open-eObs?</h2>
						</header>
						<footer>
							<ul class="buttons">
								<li><a href="#" class="button special">Online Demo</a></li>
								<li><a href="/about_partners" class="button">At your organisation</a></li>
							</ul>
						</footer>
					
					</section>

				<!-- TWITTER -->
					<section class="wrapper style3 container special" id="twitter">
					
						<header>

						</header>
						{% include twitter_js.html %}
						<a class="twitter-timeline"
						  data-widget-id="737960979670179840"
						  href="https://twitter.com/openeobs"
						  height="300">
						</a>

					</section>

			</article>