<!-- Banner -->
<section id="banner">

    <div class="inner">

        <header>
            <h2>open-eObs</h2>
        </header>

        <p>The <strong>National Early Warning Score</strong> App.
        <br /><br />
        By the NHS.
        <br /><br />
        For the NHS.
        </p>
        <!-- <footer> -->
            <!-- <ul class="buttons vertical"> -->
                <!-- <li><a href="#main" class="button fit scrolly">Tell Me More</a></li> -->
                <!-- <li><a href="#video" class="button fit scrolly">Watch The Video</a></li> -->
            <!-- </ul> -->
        <!-- </footer> -->

    </div>

</section>
