<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="http://twitter.com/{{ site.twitter_username }}" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://github.com/{{ site.github_username }}" class="icon circle fa-github"><span class="label">Github</span></a></li>
        <li><a href="mailto://{{ site.email }}" class="icon circle fa-envelope"><span class="label">Dribbble</span></a></li>
    </ul>

	<a href="/">Home</a> | <a href="/about_openeobs.html">About</a> | <a href="/about_partners.html">Partners</a> | <a href="/get_in_touch.html">Contact</a>
	<br /><br />

    <ul class="copyright">
        <li>&copy; <a href="https://www.openhealthhub.org">Open Health Hub CIC</a></li>
    </ul>

</footer>
