<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="http://twitter.com/{{ site.twitter_username }}" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://github.com/{{ site.github_username }}" class="icon circle fa-github"><span class="label">Github</span></a></li>
        <li><a href="mailto://info@openeobs.net" class="icon circle fa-envelope"><span class="label">Dribbble</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Neova Health</li>
    </ul>

</footer>