<header id="header">
	<h1 id="logo"><a href="/">open-eObs</a></h1>
	<nav id="nav">
		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about_openeobs.html">About</a></li>
            <li><a target="_blank" href="https://www.openhealthhub.org/c/open-eobs">Forums</a></li>
						<li><a target="_blank"href="https://github.com/openeobs/">Github</a></li>
						<li><a href="/about_partners.html">Enterprise</a></li>
						<li><a href="/get_in_touch.html">Contact</a></li>
			</li>
		</ul>
	</nav>
</header>
