<header id="header">
				<h1 id="logo"><a href="/">open-eObs</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
						<li class="submenu">
							<a href="">Helping ... </a>
							<ul>
								<li><a href="/help_at_the_bedside.html">By the Bedside</a></li>
								<li><a href="/help_at_the_nurses_station.html">Manage Wards</a></li>
								<li><a href="/help_during_handover.html">Shift Handovers</a></li>
								<li><a href="/help_during_review.html">Audit & Review</a></li>
							</ul>
						</li>						
						<li><a href="#" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>